In [1]:
import pandas

SPLIT_SESSION_SECOND = 3600
all_sess = []

In [2]:
url = pandas.read_csv('url_MostPortal_all.csv', header=None)
trans = pandas.read_csv('transaction_MostPortal_all.csv', header=None).assign(visited=False).sort_values(by=[3, 1], inplace=False)
posts = pandas.read_csv('post_MostPortal_all.csv', header=None)

In [3]:
url

           0                                                  1
0      17463  /vn/tin-tuc/17463/ky-vong-su-chuyen-minh-manh-...
1      17462  /vn/tin-tuc/17462/thong-bao-ve-chuong-trinh-ho...
2      17460  /vn/tin-tuc/17460/le-trong-cay-hoa-anh-dao-tai...
3      17459  /vn/tin-tuc/17459/thong-bao-de-nghi-cac-so-kho...
4      17458  /vn/tin-tuc/17458/he-thong-tuoi-ngam-tu-dong-c...
...      ...                                                ...
14541  17468  /vn/tin-tuc/17468/bao-cao-ket-qua-tu-danh-gia-...
14542  17467  /vn/tin-tuc/17467/bo-khoa-hoc-va-cong-nghe-tha...
14543  17466  /vn/tin-tuc/17466/ket-thuc-nhiem-ky-lam-viec-2...
14544  17465  /vn/tin-tuc/17465/nafosted-tiep-tuc-ho-tro-nha...
14545  17464  /vn/tin-tuc/17464/huong-dan-xay-dung-ke-hoach-...

[14546 rows x 2 columns]

In [4]:
posts

,0,1,2,3,4
0,17432,Thông tin về kết quả thực hiện nhiệm vụ cấp qu...,525.0,Tổng kinh phí thực hiện: 4.250 triệu đồng (từ ...,NaN
1,17431,Thông tin về kết quả thực hiện nhiệm vụ cấp qu...,525.0,Tổng kinh phí thực hiện: 8.750 triệu đồng (từ ...,NaN
2,17430,Thông tin về kết quả thực hiện nhiệm vụ cấp qu...,525.0,"Tổng kinh phí thực hiện: 9.310,00 triệu đồng (...",NaN
3,17429,Thông tin về kết quả thực hiện nhiệm vụ cấp qu...,525.0,Tổng kinh phí thực hiện: 11.040 triệu đồng (từ...,NaN
4,17428,Thông báo Chương trình tài trợ nghiên cứu cơ b...,525.0,Quỹ Phát triển khoa học và công nghệ Quốc gia ...,NaN
...,...,...,...,...,...
14718,17474,Viện Khoa học sở hữu trí tuệ tổ chức Đoàn thăm...,493.0,"Mục đích của Đoàn là học tập, trao đổi kinh ng...","Ngày 09-15/02/2020, Viện Khoa học sở hữu trí t..."
14719,17470,Lễ khai giảng Chương trình đào tạo trình độ Ti...,493.0,Tham dự buổi lễ khai giảng có PGS.TS Bùi Thế D...,"Sáng ngày 15/02/2020, Học viện Khoa học, Công ..."
14720,17473,Nghiên cứu ảnh hưởng của việc đốt nóng bề mặt ...,493.0,Mục tiêu chính của đề tài là nghiên cứu kỹ hơn...,Nhóm nghiên cứu tại Viện Điện thuộc trường Đại...
14721,17472,Nghiên cứu thiết kế chế tạo máy in kỹ thuật số...,493.0,Máy in của đề tài đã được nghiên cứu chế tạo t...,Nhu cầu in kỹ thuật số ngày càng tăng trên sản...
14722,17471,Hoàn thiện quy trình công nghệ sản xuất Magie ...,493.0,"Hệ thiết bị làm sạch nước\nTrước đây, Trung tâ...",Xuất phát từ việc một số công ty dược trong nư...

In [5]:
map_id_title = {}

for row in posts.iterrows():
    if row[1][0] not in map_id_title:
        map_id_title[row[1][0]] = row[1][1]

In [6]:
map_id_nid = {}
map_url_nid = {}
map_nid_info = {}

i = 1
for row in url.iterrows():
    if row[1][0] not in map_id_nid:
        map_id_nid[row[1][0]] = i
        map_url_nid[row[1][1]] = i
        
        title = ''
        if row[1][0] in map_id_title:
            title = map_id_title[row[1][0]]
        
        map_nid_info[i] = [row[1][1], title]
        i += 1

In [8]:
# map_id_nid

In [9]:
print(i)

14547

In [11]:
# map_nid_info

In [12]:
trans

,0,1,2,3,visited
43302,11cf6e6e-6716-4559-89d6-d637b0a5ae3b,15195,570.0,1421216512,False
35044,b3245c83-11e2-41d0-9b16-017d1c90188d,16173,522.0,1536609805,False
40328,76d6917d-7d9e-4c52-ada3-af8b86f35c1a,11560,506.0,1536675939,False
12516,c700e8bf-1642-4847-b6c5-396d78fb6df3,15340,493.0,1567043187,False
319240,cd19eca9-eb92-4188-a94d-236f12ce35ca,15768,493.0,1567993576,False
...,...,...,...,...,...
322255,23e73a56-289f-472c-8840-f3cf3924bd1a,17470,493.0,1582206469,False
322256,b235cbc5-ffc7-4f1e-a9f3-a032d35bb7c1,7039,493.0,1582206571,False
322257,7f532917-c306-445c-9a65-b7a6b430f3e2,17466,493.0,1582206573,False
322258,b7e25387-4a26-43f9-8de0-642f77fef25e,17470,493.0,1582206648,False
322259,4da0d22c-101a-449b-a06e-9e9931fc0aca,15530,493.0,1582206657,False

In [13]:
number_rows = trans[0].count()

In [14]:
for i in range(number_rows):
    if trans['visited'][i]:
        continue
    if i == number_rows - 1 or trans[0][i] != trans[0][i+1]:
        continue
    if trans[1][i] not in map_id_nid:
        continue
    uid = trans[0][i]
    lastest_timestamp = trans[3][i]
    trans['visited'][i] = True
    cur_sess = []
    time_cur_sess = trans[3][i]
    
#     if result[i]['itemid'] not in re_id_item:
#         re_id_item[result[i]['itemid']] = item_no
#         item_no += 1
    cur_sess.append(map_id_nid[trans[1][i]])
    j = i + 1
    while trans[0][j] == uid and int(trans[3][j]) - int(lastest_timestamp) <= SPLIT_SESSION_SECOND:
        if trans['visited'][j]:
            j += 1
            if j == number_rows:
                break
            continue
        if trans[1][j] in map_id_nid:
            cur_sess.append(map_id_nid[trans[1][j]])
            lastest_timestamp = trans[3][j]
            trans['visited'][j] = True
        j += 1
        if j == number_rows:
                break
    # Filter out length 1 sessions
    if len(cur_sess) > 1:
        all_sess.append([int(time_cur_sess), cur_sess])
    del cur_sess

/Users/phamhoanganh/virtualenv/kc01-training/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/phamhoanganh/virtualenv/kc01-training/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
len(all_sess)

33133

In [17]:
all_sess[:10]

[[1572110051, [547, 839, 1010]],
 [1572111409, [543, 543, 554, 554]],
 [1572111484,
  [542, 542, 543, 543, 546, 546, 549, 549, 550, 550, 554, 554, 560]],
 [1572111615, [584, 584]],
 [1572111646, [585, 585, 593]],
 [1572111658, [561, 562]],
 [1572111667, [593, 594]],
 [1572111685, [594, 653]],
 [1572111713, [654, 654]],
 [1572111744, [656, 657]]]

In [18]:
with open('most_additional.txt', 'r') as f:
    lines = f.readlines()

In [29]:
new_post = []
for line in lines:
    try:
        a = map_url_nid[line[23:-1]]
    except:
        new_post.append(line[23:-1])

In [30]:
new_post = set(new_post)

In [31]:
new_post

{'',
 '/vn/tin-tuc/15860/quyet-dinh-so-675-qd-bkhcn-ngay-28-3-2019-cua-bo-khcn-ban-hanh-danh-muc-dich-vu-cong-truc-tuyen-muc-do-3--muc-do-4-cua-bo-khoa-hoc-va-cong-nghe-.aspx',
 '/vn/tin-tuc/16826/thong-bao-ve-viec-cu-cong-chuc--vien-chuc-du-xet-tuyen-dao-tao-dai-hoc-va-sau-dai-hoc-tai-trung-quoc-nam-2020.aspx',
 '/vn/tin-tuc/17330/cuc-nang-luong-nguyen-tu-to-chuc-le-trao-quyet-dinh-bo-nhiem--bo-nhiem-lai-lanh-dao-mot-so-don-vi-truc-thuoc-cuc.aspx',
 '/vn/tin-tuc/17482/thu-tuong-chi-thi-tao-dieu-kien-cho-doanh-nghiep-khoi-nghiep-sang-tao.aspx',
 '/vn/tin-tuc/17497/mo-them-duong-cho-startup-ra-bien-lon.aspx',
 '/vn/tin-tuc/17522/dua-chat-xam-xuong-tuyen-huyen--san-xuat-hang-loat-test-kit-xet-nghiem-made-in-vietnam.aspx',
 '/vn/tin-tuc/17528/thong-bao-tuyen-chon-to-chuc-va-ca-nhan-chu-tri-thuc-hien-nhiem-vu-khoa-hoc-va-cong-nghe-theo-nghi-dinh-thu-voi-i-xra-en.aspx',
 '/vn/tin-tuc/17538/thong-bao-tuyen-chon-to-chuc-va-ca-nhan-chu-tri-thuc-hien-nhiem-vu-khoa-hoc-va-cong-nghe-cap-quoc-gia-thuc-hien-trong-ke-hoach-nam.aspx',
 '/vn/tin-tuc/17539/thong-bao-tuyen-chon-to-chuc-va-ca-nhan-chu-tri-thuc-hien-nhiem-vu-khoa-hoc-va-cong-nghe-cap-quoc-gia-thuc-hien-trong-ke-hoach-nam.aspx',
 '/vn/tin-tuc/17541/bao-cao-ket-qua-tu-danh-gia-nhiem-vu-khcn-cap-quoc-gia--nghien-cuu--phat-trien-tich-hop-he-thong-ho-tro-giam-sat--quan-ly--van-han.aspx',
 '/vn/tin-tuc/17545/thong-bao-ve-viec-chinh-sua-thuyet-minh-de-cuong-va-ky-hop-dong-thuc-hien-de-tai-nccb-trong-linh-vuc-khtnkt-.aspx',
 '/vn/tin-tuc/17546/thong-bao-ve-viec-chinh-sua-thuyet-minh-de-cuong-va-ky-hop-dong-thuc-hien-de-tai-tiem-nang-do-quy-tai-tro-thuc-hien-tu-nam-2020.aspx',
 '/vn/tin-tuc/17556/sieu-may-tinh-chan-doan-ncov-trong-10-giay.aspx',
 '/vn/tin-tuc/17569/thong-bao-thuc-hien-quyet-dinh-so-578-qd-bkhcn-ngay-09-03-2020-cua-bo-truong-bo-khcn-ve-viec-phe-duyet-nhiem-vu-khcn-cap-bo-xet-gi.aspx',
 '/vn/tin-tuc/17573/thong-bao-ve-viec-tuyen-chon-to-chuc-chu-tri-va-ca-nhan-chu-nhiem-thuc-hien-nhiem-vu-khoa-hoc-va-cong-nghe-cap-quoc-gia-quyet-dinh.aspx',
 '/vn/tin-tuc/17575/cac-bai-nghien-cuu-moi-ve-covid-19-tu-ngay-13-3-den-ngay-19-3-2020.aspx'}

In [27]:
map_url_nid['/vn/tin-tuc/16427/thu-tuong--uu-tien-lam-cac-dich-vu-cong-thiet-yeu-voi-nguoi-dan--doanh-nghiep.aspx']

978

In [14]:
maxtime = trans[3][number_rows-1]

In [15]:
maxtime

1582206657

In [16]:
SPLIT_TEST_TIMESTAMP = maxtime - 86400 * 7
tra_sess = list(filter(lambda x: x[0] < SPLIT_TEST_TIMESTAMP, all_sess))
tes_sess = list(filter(lambda x: x[0] >= SPLIT_TEST_TIMESTAMP, all_sess))
train_data = []
train_label = []
remap_item = {} #nid -> train_id

remap_info = {}
map_url_trainid = {}

item_no = 1
for time, sess in tra_sess:
    new_sess = []
    for item in sess:
        if item not in remap_item:
            remap_item[item] = item_no
            remap_info[item_no] = map_nid_info[item]
            map_url_trainid[map_nid_info[item][0]] = item_no
            item_no += 1
        new_sess.append(remap_item[item])
    for i in range(1, len(new_sess)):
        train_data.append(new_sess[:i])
        train_label.append(new_sess[i])
test_data = []
test_label = []
for time, sess in tes_sess:
    new_sess = []
    for item in sess:
        if item in remap_item:
            new_sess.append(remap_item[item])
    for i in range(1, len(new_sess)):
        test_data.append(new_sess[:i])
        test_label.append(new_sess[i])

In [17]:
SPLIT_TEST_TIMESTAMP

1581601857

In [18]:
len(remap_info)

2576

In [19]:
len(train_data), len(train_label), len(test_data), len(test_label)

(58869, 58869, 1707, 1707)

In [20]:
import pickle

with open('train_most_19Feb.pkl', 'wb') as f:
    pickle.dump([train_data, train_label], f)
with open('test_most_19Feb.pkl', 'wb') as f:
    pickle.dump([test_data, test_label], f)

In [21]:
# with open('map_id_nid.pkl', 'wb') as f:
#     pickle.dump(map_id_nid, f)
# with open('map_url_nid.pkl', 'wb') as f:
#     pickle.dump(map_url_nid, f)
# with open('map_nid_url.pkl', 'wb') as f:
#     pickle.dump(map_nid_url, f)

In [22]:
import pickle

with open('remap_info_most.pkl', 'wb') as f:
    pickle.dump(remap_info, f)
    
with open('map_url_trainid.pkl', 'wb') as f:
    pickle.dump(map_url_trainid, f)